<table id="AllPartsAdd" class=" table table-bordered">
    <thead>
    <tr>
        <th>SL</th>
        <th>QC pass Date</th>
        <th>Total QC Count</th>
        <th>Total Weight(kg/lb)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for us in weghtmentList %}
        <tr id="Complain_{{ us.QCWgId }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ us.QCWgId__EntryDate|date:'Y-m-d' }}</td>
            <td> {{ us.total_count }}</td>
            <td> {{ us.total_kgs }}</td>
            <td>
                <a href="{% url 'StartProduction' %}?QcWgId={{ us.QCWgId }}"
                   class="btn btn-info block">Production</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>