<table id="AllPartsAdd" class=" table table-bordered">
    <thead>
    <tr>
        <th>SL</th>
        <th>Total Production</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for pd in productionList %}
        <tr id="Complain_{{ pd.Id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ pd.1}}</td>

            <td>
                <a href="{% url 'EditProduction' %}?ProductionId={{ pd.0 }}"
                   class="btn btn-info">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
