<table id="AllPartsAdd" class=" table table-bordered">
    <thead>
    <tr>
        <th>SL</th>
        <th>Weightment Date</th>
        <th>Total Kg</th>
        <th>Total Lb</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for us in weghtmentList %}
        <tr>
            <td> {{ forloop.counter }}</td>
            <td> {{ us.LocDate }}</td>
            <td> {{ us.total_kg }}</td>
            <td> {{ us.total_lb }}</td>
            <td>
                <a href="{% url 'StartProduction' %}?WgDate={{ us.LocDate }}" class="btn btn-info">Production</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>