{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}

    <div id="page-wrapper" class="gray-bg">

        {% include 'shrimpapp/public/CommonHeadBar.html' %}

        <style type="text/css">
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Complain List</h2>
                <ol class="breadcrumb">

                </ol>
            </div>
            <div class="col-sm-8">


            </div>
        </div>

        {% if Message|length > 0 %}
            <div class="alert alert-info">
                <strong>{{ Message }}</strong>
            </div>
        {% endif %}

        <div class="ibox-content m-b-sm border-bottom col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-sm-2"></div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight ">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Machine Name</th>
                        <th>Machine Code</th>
                        <th>Complain Type</th>
                        <th>Create Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for us in complainList %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ us.ComplainId__MachineId__MachineName }}</td>
                            <td> {{ us.ComplainId__MachineId__MachineCode }}</td>
                            <td> {{ us.ComplainId__ComTypeId__ComplainName }}</td>
                            <td> {{ us.ComplainId__EntryDate }}</td>
                            <td>
                                    <a href="{% url 'SrvOfcCmpView' %}?ComplainId={{ us.ComplainId__ComplainId }}&ComLogId={{ us.ComLogId }}"
                                       class="btn {% if us.Status__ComStatusId ==  3 %}btn-warning {% endif %} {% if us.Status__ComStatusId ==  4 %}btn-info {% endif %} {% if us.Status__ComStatusId ==  5 %}btn-success {% endif %}">view</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.document_updatedate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });

            $('#date_to').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>

{% endblock %}