{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}

    <div id="page-wrapper" class="gray-bg">

        {% include 'shrimpapp/public/CommonHeadBar.html' %}

        <style type="text/css">
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>New Complain </h2>
                <ol class="breadcrumb">

                </ol>
            </div>
            <div class="col-sm-8">


            </div>
        </div>

        {% if Message|length > 0 %}
            <div class="alert alert-info">
                <strong>{{ Message }}</strong>
            </div>
        {% endif %}

        <div class="ibox-content m-b-sm border-bottom col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-sm-2"></div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight ">

            <div style="display:none"><select id="ComplainType" name="ComplainType" class="form-control">{% for sType in comList %}
                                <option value="{{ sType.ComplainTypeId }}">{{ sType.ComplainName }}</option>{% endfor %}</select></div>

                <form class="form-horizontal col-lg-8 col-md-8 col-sm-8" method="post" enctype="multipart/form-data"
                      action="{% url 'CreateComplain' %}">
                    {% csrf_token %}
                    <div class="form-group  col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Choose Machine</label>
                        <select name="Machine" class="form-control" >{% for sType in machineList %}<option value="{{ sType.MachineId }}">{{ sType.MachineCode }}--{{ sType.MachineName }}</option>{% endfor %}</select>
                    </div>
                    {% comment %}<div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Complain Type</label>
                        <select name="ComplainType" class="form-control" >{% for sType in comList %}<option value="{{ sType.ComplainTypeId }}">{{ sType.ComplainName }}</option>{% endfor %}</select>
                    </div>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="Note">Note</label>
                        <input type="text" name="Note" class="form-control" placeholder="Note" required="required">
                    </div>{% endcomment %}


                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label for="Machine">Choose Complain type and Write Short Note</label>
                    <table class=" table table-bordered" id="AllPartsAdd">
                        <thead>
                        <tr>
                            <th>Complain Type</th>
                            <th>Note</th>
                            <th>
                                <button id="AddNewRow" class=" btn btn-success btn-block"> ADD</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><select name="Service" class="form-control SparePartsItem">{% for cType in comList %}<option value="{{ cType.ComplainTypeId }}">{{ cType.ComplainName }}</option>{% endfor %}</select></td>
                            <td><input name="Service" class="form-control" required="required" value=""/></td>
{#                            <td><input type="button" class="btn btn-danger btn-block RemoveRow" value="Remove"/></td>#}
                        </tr>

                        </tbody>
                    </table>
                    </div>

                    <div class="form-group row col-lg-8 col-md-8 col-sm-8">
                        <button type="submit" class="btn btn-primary block full-width m-b ">Save</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).ready(function () {

            $("table").on("click","input.RemoveRow",function(){
                $(this).parent().parent().remove();
            });

            $("#AddNewRow").click(function(){
                var allItem = '';
                $("#ComplainType option").each(function(){
                    allItem = allItem + '<option value="'+$(this).val()+'">'+$(this).html()+'</option>'
                });

                var tableRow = '<tr>'+
                                    '<td><select name="Service" class="form-control SparePartsItem">' +allItem+
                                    '</select></td>'+
                                    '<td><input type="text" class="form-control"  name="Service" required="required"></td>'+
                                    '<td><input type="button" class="btn btn-danger btn-block RemoveRow"  value="Remove"></td>'+
                                '</tr>';

                $("#AllPartsAdd").append(tableRow);
                return false;
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.document_updatedate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });

            $('#date_to').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>

{% endblock %}