{% extends "./public/dashboardBase.html" %}
{% load static %}
{% load colorCheck %}

{% block main_content %}
    <style>
        .form-control {
            padding: 0px 0px !important;
            height: auto !important;
        }

        .btn_s {
            padding: 0px 0px !important;
            font-size: 10px;
        }

        .tbl_view_space {
            width: 100%;
            overflow: scroll;
        }
    </style>

    <div id="page-wrapper" class="gray-bg">

        {% include 'shrimpapp/public/CommonHeadBar.html' %}

        <style type="text/css">
        </style>

        {% if Message|length > 0 %}
            <div class="alert alert-info">
                <strong>{{ Message }}</strong>
            </div>
        {% endif %}

        <div class="ibox-content m-b-sm border-bottom col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-sm-2"></div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight ">

                <div style="display:none">
                    <select name="Weightment" class="form-control" style="width: 100px">{% for cType in sItem %}
                        <option value="{{ cType.Id }}">{{ cType.Name }}</option>{% endfor %}</select>
                </div>

                <form class="form-horizontal col-lg-12 col-md-12 col-sm-12" method="post" enctype="multipart/form-data"
                      action="{% url 'UpdateProduction' %}">
                    {% csrf_token %}
                    <div class="row col-lg-6 col-md-6 col-sm-6">
                        <div class="row col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group ">
                                <label for="Machine">Product Type</label>
                                <select id="ProductionType" name="ProductionType" class="form-control">
                                    <option value="0">--Select--</option>
                                    {% for sType in prType %}
                                        <option value="{{ sType.Id }}">{{ sType.Name }}</option>{% endfor %}
                                </select>
                                <input type="hidden" name="ProdId" class="form-control" id="ProdId"
                                       value="{{ proData.Id }}"/>
                            </div>
                        </div>
                        <div class="form-group  col-lg-10 col-md-10 col-sm-10">
                            <label for="SparepartsDate">Date</label>
                            <input type="text" name="ProdctDate" class="form-control" id="FromDate" required
                                   value=" {{ proData.ProductionDate|date:"Y-m-d" }}"/>
                        </div>
                    </div>

                    <div id="add_prod_tab">
                        {% for key,value in prTySrTyPrItDisc.items %}

                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <div id="hiderowforappend_{{ key }}" style="display:none">
                                    <table>
                                        <tr>
                                            <td>
                                                <select name="{{ key }}" class="form-control ShrimPItem"
                                                        style="width: 100px">{% for cType in semProdItems %}
                                                    <option value="{{ cType.Id }}">{{ cType.Name }}</option>{% endfor %}
                                                </select></td>
                                            {% for i in proItems %}
                                                {% if i.PrTyId__Name == key %}
                                                    <td>
                                                        <input name="{{ key }}" type="hidden"
                                                               class="form-control numeric" required="required"
                                                               value="{{ i.Id }}"/>
                                                        <input name="{{ key }}" class="form-control numeric"
                                                               required="required" value="0"/>
                                                    </td>
                                                    <td>
                                                        <select name="{{ key }}" class="form-control"
                                                                style="width: 65px">
                                                            <option value="Kg">Kg</option>
                                                            <option value="lb">lb</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input name="{{ key }}" class="form-control numeric"
                                                               required="required" value="0"/>
                                                    </td>
                                                    <td><input type="button" data="{{ i.Id }}"
                                                               class="btn btn_s btn-info btn-block PkgMaterial"
                                                               value="Pkg Mat"/><input name="{{ key }}"
                                                                                       class="PkgMatInput" type="hidden"
                                                                                       value="1!0"/></td>
                                                {% endif %}
                                            {% endfor %}
                                            <td><input type="button" class="btn btn_s btn-danger btn-block RemoveRow"
                                                       value="Remove"></td>
                                        </tr>
                                    </table>
                                </div>

                                <!--  Top Row appender for every Production Types  -->
                                <label for="Machine">Production Detail of {{ key }}</label>
                                <div class="tbl_view_space" id="prod_tab_{{ key }}">
                                    <table id="AddProdTo_{{ key }}"
                                           class=" table table-sm table-bordered sub_prod_table">
                                        <thead>
                                        <tr>
                                            <th>Choose Type</th>
                                            {% for pHead in proItems %}
                                                {% if pHead.PrTyId__Name == key %}
                                                    <th colspan="4" scope="colgroup"
                                                        class="text-center">{{ pHead.Name }}</th>
                                                {% endif %}
                                            {% endfor %}

                                            <th>
                                                <input type="button" id="AddNewRow_{{ key }}"
                                                       class="btn btn-success btn-block add_child_row" value="ADD"/>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td rowspan="1"></td>
                                            {% for i in proItems %}
                                                {% if i.PrTyId__Name == key %}
                                                    <th scope="col">Count</th>
                                                    <th scope="col">Kg/lb</th>
                                                    <th scope="col">Quentity</th>
                                                    <th scope="col">PkgMat</th>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for k2,v2 in value.items %}

                                            <tr>
                                                <td><select name="{{ key }}" class="form-control ShrimPItem"
                                                            style="width: 100px">
                                                    {% for cType in sItem %}
                                                        <option {% if k2 == cType.Id %} selected="selected" {% endif %}
                                                                                        value="{{ cType.Id }}">{{ cType.Name }}</option>{% endfor %}
                                                </select></td>
                                                {% for k3,v3 in v2.items %}
                                                    <td><input type="hidden" name="{{ key }}"
                                                               class="form-control numeric" required="required"
                                                               value="{{ v3.ProDtlId__PrItmId__Id }}"/>
                                                        <input name="{{ key }}" class="form-control numeric"
                                                               required="required"
                                                               value="{{ v3.ProDtlId__ProdItemPcs }}"/></td>

                                                    <td>
                                                        <select name="{{ key }}" class="form-control"
                                                                style="width: 65px">
                                                            <option {% if v3.ProDtlId__ProdItemUnit == 'Kg' %}
                                                                selected {% endif %}
                                                                value="Kg">Kg
                                                            </option>
                                                            <option {% if v3.ProDtlId__ProdItemUnit == 'lb' %}
                                                                selected {% endif %}
                                                                value="lb">lb
                                                            </option>
                                                        </select></td>

                                                    <td><input name="{{ key }}"
                                                               class="form-control numeric" required="required"
                                                               value="{{ v3.ProDtlId__ProdAmount }}"/></td>

                                                    <!-- style="background-color:;" -->
                                                    <td style="background-color:{{ v3.PkgMatId__Id|colorCheck }};">
                                                        <input type="button" data="{{ v3.ProDtlId__Id }}"
                                                               class="btn btn_s btn-info btn-block PkgMatUpdate"
                                                               value="Pkg Mat"/>
                                                        <input name="{{ key }}" class="PkgMatInput" type="hidden"
                                                               value="{{ v3.PkgMatId__Id }}"/>
                                                    </td>

                                                {% endfor %}
                                                <td><input type="button"
                                                           class="btn btn_s btn-danger btn-block RemoveRow"
                                                           value="Remove"></td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row center col-lg-8 col-md-8 col-sm-8">
                        <div class="form-group ">
                            <button id="SaveButtonProduction" type="submit"
                                    class="btn btn-primary full-width m-b ">Update
                            </button>
                        </div>
                    </div>
                </form>

                <div class="modal fade modal-lg" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Package Material</h3>
                                <input type="hidden" id="TableIdForModal" value=""/>
                                <input type="hidden" id="TableRowIdxForModal" value=""/>
                                <input type="hidden" id="TableCellIdxForModal" value=""/>
                            </div>
                            <div id="PkgMaterailAdd" class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button id="ModalPkgMatUpdate" class="btn btn-primary ModalPkgMatUpdate">Save Package
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <link href="{% static "assets/css/sweetalert.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% static "assets/js/sweetalert.min.js" %}"></script>
    <script src="{% static "assets/js/table-form-validation.js" %}"></script>
    {% csrf_token %}
    <style>
        #PkgMaterailAdd {
            table-layout: fixed;
            word-wrap: break-word;
        }

        .modal-dialog {
            width: 60%;
            position: absolute;
            top: 5%;
            left: 35%
        }
    </style>

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        var global_test = 0;
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
        $(document).ready(function () {
            $("#add_prod_tab").on("input", "input.numeric", function (evt) {
                //console.log("This is Input");
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });

            $("#myModal").on("input", "input.numeric", function (evt) {
                //console.log("This is Input");
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });

            var modalShowTable = "{% url 'ModalTableShow' %}";
            var pkgModalUrl = "{% url 'PkgModalTableUpdate' %}";

            pkgMatModal(modalShowTable);
            pkgMatUpdateModal(pkgModalUrl);

            writeDataModalToCell();

            writeUpdatedDataModalToCell();

            $("#ProductionType").on("change", function () {
                var prodType = this.value;
                var selectedText = $("#ProductionType option:selected").html();
                var baseurl = "{% url 'PrdItemForm' %}";

                if ($("#hiderowforappend_" + selectedText).length > 0) {
                    sweetAlert({
                        title: "This Item has already exist in this page.",
                        text: "Please find the specific Table and add row. Thank You. ",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "DISMISS"
                    });
                    return false;
                }
                else {
                    if (prodType == "0") {
                        sweetAlert({
                            title: "Please Select a Item",
                            text: " Thank You. ",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "DISMISS"
                        });
                        return false;
                    }
                    else {
                        var rVal = updateDivTblItCheck();
                        if (rVal == 1) {
                            sweetAlert({
                                title: "A Table contains Multiple Product Category!!!",
                                text: "Please find the specific table and select right category. Thank You. ",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonText: "DISMISS"
                            });
                            return false;
                        }
                        else {
                            var baseurl = "{% url 'PrdItemForm' %}";
                            $.ajax({
                                url: baseurl,
                                type: "GET",
                                data: "ProdType=" + prodType + "&csrfmiddlewaretoken=" + csrftoken,
                                cache: false,
                                dataType: 'json',
                                success: function (data) {
                                    var response = $.parseJSON(JSON.stringify(data));
                                    var dep = $.parseJSON(JSON.stringify(response.status));
                                    var html = $.parseJSON(JSON.stringify(response.html));
                                    $('#add_prod_tab').prepend(html);
                                }
                            });
                            return true;
                        }
                    }
                }
            });

            $("#add_prod_tab").on("click", "input.add_child_row", function () {
                var addId = $(this).attr("id");
                var prodType = addId.split("_")[1];

                var subProductionRow = "<tr>" + $("#hiderowforappend_" + prodType + " tr:first").html() + "</tr>";
                $("#AddProdTo_" + prodType).prepend(subProductionRow);
                return false;
            });

            $("#SaveButtonProduction").on('click', function () {
                var rVal = updateDivTblItCheck();
                if (rVal == 1) {
                    sweetAlert({
                        title: "A Table contains Multiple Product Category!!!",
                        text: "Please find the specific table and select right category. Thank You. ",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "DISMISS"
                    });
                    return false;
                }
                else {
                    return true;
                }
            });

            $("#add_prod_tab").on("click", "input.RemoveRow", function () {
                console.log("thia is a test");
                $(this).parent().parent().remove();
            });

            $('#FromDate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>
{% endblock %}