{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}

    <div id="page-wrapper" class="gray-bg">

        {% include 'shrimpapp/public/CommonHeadBar.html' %}

        <style type="text/css">
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Forward Complain To Service Officer</h2>
                <ol class="breadcrumb">

                </ol>
            </div>
            <div class="col-sm-8">


            </div>
        </div>

        {% if Message|length > 0 %}
            <div class="alert alert-info">
                <strong>{{ Message }}</strong>
            </div>
        {% endif %}

        <div class="ibox-content m-b-sm border-bottom col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-sm-2"></div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight ">

            <div style="display:none"><select id="AllSpartsParts" name="Service" class="form-control">{% for sType in spareItems %}
                                <option value="{{ sType.SpareItemsId }}">{{ sType.ItemName }}
                                    -- {{ sType.ItemSize }}</option>{% endfor %}</select></div>

                <form class="form-horizontal col-lg-8 col-md-8 col-sm-8" method="post" enctype="multipart/form-data"
                      action="{% url 'ForwordToServiceOfficer' %}">
                    {% csrf_token %}
                <div class="form-group  col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Entry By</label>
                        <input readonly type="text" value="{{ complain.EntryBy__UserName }} -- {{ complain.EntryBy__Designation }} -- {{ complain.EntryBy__Mobile }}" name="EntryBy" class="form-control">
                    </div>

                    <div class="form-group  col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Machine</label>
                        <select readonly name="Machine" class="form-control">{% for sType in machineList %}
                            <option {% if sType.MachineId == complain.MachineId__MachineId %} selected {% endif %}
                                                                                              value="{{ sType.MachineId }}">{{ sType.MachineCode }}--{{ sType.MachineName }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Complain Type</label>
                        <select readonly name="ComplainType" class="form-control">{% for sType in comList %}
                            <option {% if sType.ComplainTypeId == complain.ComTypeId__ComplainTypeId %}
                                selected {% endif %}
                                value="{{ sType.ComplainTypeId }}">{{ sType.ComplainName }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="Note">Note</label>
                        <input readonly type="text" value="{{ complain.Comments }}" name="Note" class="form-control"
                               placeholder="Note" required="required">
                        <input type="hidden" value="{{ complain.ComplainId }}" name="ComplainId">
                    </div>

                    <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="Machine">Choose Service Offices</label>
                        <select multiple name="ServicesOffices" class="form-control" required="required">{% for sType in serviceOfficer %}
                            <option value="{{ sType.Id }}">{{ sType.UserName }}--{{ sType.Designation }}</option>{% endfor %}
                        </select>
                    </div>

                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label for="Machine">Choose Spare parts And Quantity</label>
                    <table class=" table table-bordered" id="AllPartsAdd">
                        <thead>
                        <tr>
                            <th>Patrs</th>
                            <th>Quantity</th>
                            <th>
                                <button id="AddNewRow" class=" btn btn-success btn-block"> ADD</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </div>

                    <div class="form-group row col-lg-8 col-md-8 col-sm-8">
                        <button type="submit" class="btn btn-primary block full-width m-b ">Save</button>
                    </div>
                </form>

            <div id="GiveSparpartsItem" style="display:none">
                <form class="form-horizontal col-lg-8 col-md-8 col-sm-8" method="post" enctype="multipart/form-data"
                      action="{% url 'SparePartsItem' %}">
                    {% csrf_token %}
                <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <input type="hidden" value="{{ complain.ComplainId }}" name="ComplainId">
                    </div>

                    <div class="form-group col-lg-8 col-md-8 col-sm-8">
                        <label for="SparepartsDate">Choose SpareParts Available Date</label>
                        <input type="text" name="SparepartsDate" class="form-control" id="SparepartsDate"/>
                    </div>


                    <div class="form-group row col-lg-8 col-md-8 col-sm-8">
                        <button type="submit" class="btn btn-info block full-width m-b ">Save</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <link href="{% static "assets/css/sweetalert.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% static "assets/js/sweetalert.min.js" %}"></script>
    {% comment %}<script src="{% static "assets/js/1.9.jquery.js" %}"></script>
    <script src="{% static "assets/js/select2.min.js" %}"></script>{% endcomment %}



    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).ready(function () {

            $("table").on("click","input.RemoveRow",function(){
                $(this).parent().parent().remove();
            });

            $("#AddNewRow").click(function(){
                //$('.chosen-select').select2('destroy');
                var allItem = '';
                $("#AllSpartsParts option").each(function(){
                    allItem = allItem + '<option value="'+$(this).val()+'">'+$(this).html()+'</option>'
                });

                var tableRow = '<tr>'+
                                    '<td><select name="Service" class="form-control SparePartsItem chosen-select">' +allItem+
                                    '</select></td>'+
                                    '<td><input type="text" class="form-control"  name="Service" value="0" required="required"></td>'+
                                    '<td><input type="button" class="btn btn-danger btn-block RemoveRow"  value="Remove"></td>'+
                                '</tr>';

                $("#AllPartsAdd").append(tableRow);
                //$("select.chosen-select").select2();

                return false;
            });




             //$("table select.SparePartsItem").select2();

            $("table").on("change","select.SparePartsItem",function(){
                var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
                var selectItem = $(this).find(":selected").val();
                var baseurl = "{% url 'CheckSpareParts' %}";

                $.ajax({
                    url: baseurl,
                    type: "GET",
                    data: "spareItemId=" + selectItem + "&csrfmiddlewaretoken=" + csrftoken,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        var response = $.parseJSON(JSON.stringify(data));
                        var stock = $.parseJSON(JSON.stringify(response.data));
                        if(stock > 0){
                            $("#GiveSparpartsItem").css("display", "none");
                            console.log("------"+ stock);
                            sweetAlert({
                            title: "Current Stock Information Of Selected Item",
                            text: "current stock is "+stock,
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "DISMISS"});
                        }
                        else{
                            $("#GiveSparpartsItem").css("display", "block");
                            sweetAlert({
                            title: "Stock Of this Item is not available!!!",
                            text: "",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "DISMISS"});
                        }
                    }
                });
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.document_updatedate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });

            $('#SparepartsDate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>

{% endblock %}