{% load filter_tags %}
<table id="PakMatCheckTable" class=" table table-bordered ">
    <thead>
    <tr>
        <th class="text-center">Click</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Item</th>
        <th class="text-center">Pack Size</th>
        <th class="text-center">Stock</th>
    </tr>
    </thead>
    <tbody>

    {% for pg in pakMat %}
        <tr>
            <td class="text-center"><input class="CBoxInPkgMat" type="checkbox" value="{{ pg.0 }}" {% if pg.4 != 'XXX' %} checked{% endif %}/></td>
            <td class="center"><input class="form-control numeric PkgMatCount" value="{% if pg.4 != 'XXX' %} {{ pg.4 }}{% else %}0{% endif %}" style="width: 50px;"/></td>
            <td class="text-center">{{ pg.1 }}</td>
            <td class="text-center">{{ pg.2 }}</td>
            <td class="text-center">{{ pg.3 }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>