<table id="PakMatCheckTable" class=" table table-bordered ">
    <thead>
    <tr>
        <th class="text-center">Click</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Item</th>
        <th class="text-center">Pack Size</th>
        <th class="text-center">Stock</th>
    </tr>
    </thead>
    <tbody>
    {% for pg in pakMat %}
        <tr>
            <td class="text-center"><input class="CBoxInPkgMat" type="checkbox" value="{{ pg.Id }}"/></td>
            <td class="center"><input class="form-control numeric PkgMatCount" value="" style="width: 50px;"/></td>
            <td class="text-center">{{ pg.Name }}</td>
            <td class="text-center">{{ pg.PackSize }}</td>
            <td class="text-center">{{ pg.Stock }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>