{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}
    <style type="text/css">
        .tbl_view_space {
            width: 100%;
            overflow: scroll;
        }

    </style>
    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>

    <div id="page-wrapper" class="gray-bg">
        {% include 'shrimpapp/public/CommonHeadBar.html' %}

        <div class="wrapper wrapper-content animated fadeInRight ">

            <div style="display:none"><select id="ShrimpType" name="ShrimpType" class="form-control">
                {% for sType in shrimpType %}
                    <option value="{{ sType.Id }}">{{ sType.Name }}</option>
                {% endfor %}
            </select>
            </div>
            <div style="display:none">
                <select id="ShrimpItem" name="ShrimpItem" class="form-control">
                    {% for sItem in shrimpItem %}
                        <option value="{{ sItem.Id }}">{{ sItem.Name }}</option>{% endfor %}
                </select></div>

            <div class="row">
                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                    <div class="ibox float-e-margins">
                        <form method="post" enctype="multipart/form-data" action="{% url 'SaveWeightment' %}">
                            {% csrf_token %}

                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                            <label for="SparepartsDate">Collection Date</label>
                                            <input type="text" name="WgDate" value="{{ Today }}" class="form-control" id="SparepartsDate"
                                                   required/>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>

                                        <div class="form-group  col-lg-3 col-md-3 col-sm-3">
                                            <label for="SparepartsDate">Approximate Total Kg</label>
                                            <input name="TotalKg" class="form-control numeric" id="TotalKg" required/>
                                        </div>

                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>

                                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                            <label for="Machine">Choose R/C Type</label>
                                            <select id="RcType" name="RcType" class="form-control">
                                                <option value="0">Select Type</option>
                                                {% for sType in receiveTypeList %}
                                                    <option value="{{ sType.Id }}">{{ sType.Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                            <div id="RcTypeHold">

                                            </div>
                                        </div>

                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>

                                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                            <div id="FarmerHolder">
                                            </div>
                                        </div>

                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>

                                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div id="FarmerWiseWeightmentDetail">



                            </div>


                            <br/>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div id="search-data" class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-5 col-md-5 col-sm-5">

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-primary  full-width m-b">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).ready(function () {
            var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

            $(".numeric").on("input", function (evt) {
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });

            $("table").on("input", "input.numeric", function (evt) {
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });

            $("table").on("click", "input.RemoveRow", function () {
                $(this).parent().parent().remove();
            });



            $("#FarmerWiseWeightmentDetail").on("click","input.RemoveThisFarmer", function () {
                //console.log("=====");
                //$(this).parent().parent().remove();
                $(this).closest(".ibox-content").remove();
            });

            $("#AddNewRow").click(function () {
                var ShrimpType = '';
                $("#ShrimpType option").each(function () {
                    ShrimpType = ShrimpType + '<option value="' + $(this).val() + '">' + $(this).html() + '</option>'
                });

                var ShrimpItem = '';
                $("#ShrimpItem option").each(function () {
                    ShrimpItem = ShrimpItem + '<option value="' + $(this).val() + '">' + $(this).html() + '</option>'
                });

                var tableRow = '<tr>' +
                    '<td><select name="Weightment" class="form-control ShrimpType" style="width: 100px">' + ShrimpType +
                    '</select></td>' +
                    '<td><input name="Weightment" class="form-control numeric" required="required" value=""/></td>' +
                    '<td><select name="Weightment" class="form-control ShrimpItem" style="width: 100px" required="required">' + ShrimpItem +
                    '</select></td>' +
                    '<td><select name="Weightment" class="form-control" style="width: 80px" required="required"><option value="Kg">Kg</option><option value="lb">lb</option></select></td>' +
                    '<td><input name="Weightment"  class="form-control numeric" required="required" value=""/></td>' +
                    '<td><input name="Weightment"  class="form-control numeric" required="required" value=""/></td>' +
                    '<td><input name="Weightment" class="form-control" required="required" value="N/A"/></td>' +
                    '<td><input type="button" class="btn btn-danger btn-block RemoveRow"  value="Remove"></td>' +
                    '</tr>';

                $("#AllPartsAdd").prepend(tableRow);
                return false;
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $(document).on('change', '#AllPartsAdd tbody td select.ShrimpType', function (e) {
                var sTypeId = this.value;
                var baseurl = "{% url 'SItemBySType' %}";
                var row = $(this).closest("tr").index();
                $('table#AllPartsAdd tbody tr').eq(row).find('td').eq(2).find('select.ShrimpItem').html('');

                $.ajax({
                    url: baseurl,
                    type: "GET",
                    data: "STypeId=" + sTypeId + "&csrfmiddlewaretoken=" + csrftoken,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        var response = $.parseJSON(JSON.stringify(data));
                        var html = $.parseJSON(JSON.stringify(response.html));
                        $('#AllPartsAdd tbody tr').eq(row).find('td').eq(2).find('select.ShrimpItem').html(html);
                    }
                });
            });

            $("#RcType").on("change", function () {
                var rcId = this.value;
                var baseurl = "{% url 'RCresponse' %}";
                $('#RcTypeHold').html('');
                $('#FarmerHolder').html('');
                $.ajax({
                    url: baseurl,
                    type: "GET",
                    data: "RcType=" + rcId + "&csrfmiddlewaretoken=" + csrftoken,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        var response = $.parseJSON(JSON.stringify(data));
                        var html = $.parseJSON(JSON.stringify(response.html));
                        $('#RcTypeHold').html(html);
                    }
                });
            });

            $("#RcTypeHold").on("change", '#Supplier', function () {
                var supplierId = this.value;
                var baseurl = "{% url 'FarmerListBySupplier' %}";
                $('#FarmerHolder').html('');
                $.ajax({
                    url: baseurl,
                    type: "GET",
                    data: "Supplier=" + supplierId + "&csrfmiddlewaretoken=" + csrftoken,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        var response = $.parseJSON(JSON.stringify(data));
                        var html = $.parseJSON(JSON.stringify(response.html));
                        $('#FarmerHolder').html(html);
                    }
                });
            });

            $("#FarmerHolder").on("change", '#Farmer', function () {
                var farmerId = this.value;
                var baseurl = "{% url 'FmWeightMentForm' %}";
                if(farmerId != 0){
                    $.ajax({
                    url: baseurl,
                    type: "GET",
                    data: "Farmer=" + farmerId + "&csrfmiddlewaretoken=" + csrftoken,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        var response = $.parseJSON(JSON.stringify(data));
                        var html = $.parseJSON(JSON.stringify(response.html));

                        $('#FarmerWiseWeightmentDetail').append(html);
                        $('#FarmerWiseWeightmentDetail').append('<br/>');
                    }
                });
                }
            });

            $("#FarmerWiseWeightmentDetail").on("input", "input.numeric", function (evt) {
                    var self = $(this);
                    self.val(self.val().replace(/[^0-9\.]/g, ''));
                    if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                        evt.preventDefault();
                    }
                });

            $("#FarmerWiseWeightmentDetail").on("click", "input.add_child_row", function (evt) {
                    var id = $(this).attr('id');
                    console.log("=="+id);
                });

            $('.document_updatedate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });

            $('#SparepartsDate').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>

{% endblock %}